*_i.c
*_p.c
*.aps
*.bak
*.cache
*.db
*.dll
*.exe
*.ilk
*.lib
*.log
*.ncb
*.nupkg
*.obj
*.pch
*.pdb
*.resharper
*.sdf
*.sfx
*.suo
*.tlb
*.tlh
*.user
*.vspscc
*.vssscc
*.sbr
*.sdf
*.sh
*.rb
*.VisualState.xml

[Bb]in/
[Bb]uild/
[Dd]ebug*/
[Ii]pch/
[Oo]bj/
[Rr]elease*/
[Rr]esults/
[Tt]mp/
[Tt]emp/

.svn
.vs

~$*
_ReSharper*/
Ankh.NoLoad
UpgradeLog.htm
[Tt]est[Rr]esult*
