version: 2.14.0.{build}
branches:
    only:
        - master
skip_tags: true
clone_folder: C:\Cube\Cube.Pdf
image: Visual Studio 2017
nuget:
    project_feed: true
    disable_publish_on_pr: true
platform: Any CPU
configuration: Release
before_build:
    - "SET PATH=C:\\Ruby22\\bin;C:\\Python34;C:\\Python34\\Scripts;%PATH%"
    - nuget sources add -name Cube.Core -source https://ci.appveyor.com/nuget/cube.core
    - nuget sources add -name Cube.FileSystem -source https://ci.appveyor.com/nuget/cube.filesystem
    - nuget sources add -name Cube.Images -source https://ci.appveyor.com/nuget/cube.images
    - nuget sources add -name Cube.Forms -source https://ci.appveyor.com/nuget/cube.forms
    - nuget sources add -name Cube.Xui -source https://ci.appveyor.com/nuget/cube.xui
    - nuget restore Cube.Pdf.Applications.sln
build:
    parallel: true
    project: Cube.Pdf.Applications.sln
    publish_nuget: true
    verbosity: minimal
after_build:
    - ps: Start-FileDownload https://www.cube-soft.jp/archive/gs-x86.7z
    - ps: Start-FileDownload https://www.cube-soft.jp/archive/gs-x64.7z
    - 7z x -o"..\resources\native\x86\ghostscript" gs-x86.7z
    - 7z x -o"..\resources\native\x64\ghostscript" gs-x64.7z
    - rake copy
test_script:
    - >
      ..\packages\OpenCover.4.7.922\tools\OpenCover.Console.exe
      -log:Error
      -register:user
      -target:../packages/NUnit.ConsoleRunner.3.9.0/tools/nunit3-console.exe
      -targetargs:Cube.Pdf.Tests.dll
      -targetdir:Tests\bin\Release
      -returntargetcode
      -hideskipped:All
      -output:CoverResults.xml
      -filter:"+[Cube*]* -[*]*NativeMethods -[*]*Properties.*"
    - >
      ..\packages\OpenCover.4.7.922\tools\OpenCover.Console.exe
      -log:Error
      -register:user
      -target:../packages/NUnit.ConsoleRunner.3.9.0/tools/nunit3-console.exe
      -targetargs:"Cube.Pdf.Tests.Converter.dll --workers=1"
      -targetdir:Applications\Converter\Tests\bin\Release
      -returntargetcode
      -hideskipped:All
      -mergeoutput
      -output:CoverResults.xml
      -filter:"+[Cube*]* -[*]*NativeMethods -[*]*Properties.* -[*]*Form -[*]*.Program"
    - >
      ..\packages\OpenCover.4.7.922\tools\OpenCover.Console.exe
      -log:Error
      -register:user
      -target:../packages/NUnit.ConsoleRunner.3.9.0/tools/nunit3-console.exe
      -targetargs:"Cube.Pdf.Tests.Editor.dll --workers=1"
      -targetdir:Applications\Editor\Tests\bin\Release
      -returntargetcode
      -hideskipped:All
      -mergeoutput
      -output:CoverResults.xml
      -filter:"+[Cube*]* -[*]*NativeMethods -[*]*Properties.* -[*]*Window -[*]*Control -[*]*.App"
    - >
      ..\packages\OpenCover.4.7.922\tools\OpenCover.Console.exe
      -log:Error
      -register:user
      -target:../packages/NUnit.ConsoleRunner.3.9.0/tools/nunit3-console.exe
      -targetargs:Cube.Pdf.Tests.Pinstaller.dll
      -targetdir:Applications\Pinstaller\Tests\bin\Release
      -returntargetcode
      -hideskipped:All
      -mergeoutput
      -output:CoverResults.xml
      -filter:"+[Cube*]* -[*]*NativeMethods -[*]*Properties.* -[*]*.Program"
after_test:
    - xcopy /q /Y /I CoverResults.xml TestLog\
    - xcopy /q /Y /I Tests\bin\Release\Cube.Pdf.Tests.log TestLog\
    - xcopy /q /Y /I Applications\Converter\Tests\bin\Release\Cube.Pdf.Tests.Converter.log TestLog\
    - xcopy /q /Y /I Applications\Editor\Tests\bin\Release\Cube.Pdf.Tests.Editor.log TestLog\
    - xcopy /q /Y /I Applications\Pinstaller\Tests\bin\Release\Cube.Pdf.Tests.Pinstaller.log TestLog\
    - xcopy /q /Y /I Applications\Converter\Forms\bin\Release CubePdf
    - xcopy /q /Y /I Applications\Converter\Proxy\bin\Release CubePdf.Proxy
    - xcopy /q /Y /I Applications\Editor\Forms\bin\Release CubePdf.Utility
    - xcopy /q /Y /I Applications\Editor\Proxy\bin\Release CubePdf.Utility.Proxy
    - pip install codecov
    - codecov -f "CoverResults.xml"
artifacts:
    - path: CubePdf
    - path: CubePdf.Proxy
    - path: CubePdf.Utility
    - path: CubePdf.Utility.Proxy
    - path: TestLog
