version: 6.0.5.{build}
environment:
    PROJECT_NAME:  'Cube.Pdf'
    TEST_TOOL:     '..\packages\OpenCover\4.7.1221\tools\OpenCover.Console.exe'
    TEST_FILTERS:  '+[Cube*]* -[*]*.NativeMethods -[*]*.Properties.* -[*]*.Program -[*]*.Program/* -[*]*.App -[*]*.App/* -[*]*Window -[*]*Window/* -[*]*Control -[*]*Control/*'
    TEST_COVERAGE: 'Coverage.xml'
    TEST_RESULTS:  'Results'
clone_folder: 'C:\Cube\%PROJECT_NAME%'
image: Visual Studio 2019
platform: Any CPU
configuration: Release
skip_tags: true
branches:
    only:
        - master
nuget:
    project_feed: true
    disable_publish_on_pr: true
before_build:
    - nuget sources add -name Cube.Core -source https://ci.appveyor.com/nuget/cube.core
    - nuget restore "%PROJECT_NAME%.sln"
build:
    project: '%PROJECT_NAME%.sln'
    parallel: true
    publish_nuget: true
    verbosity: minimal
test_script:
    - >
      "%TEST_TOOL%"
      -log:Error
      -register:appveyor
      -target:dotnet.exe
      -targetargs:"test --no-restore --no-build --logger:Appveyor %PROJECT_NAME%.sln"
      -returntargetcode
      -hideskipped:All
      -mergeoutput
      -output:"%TEST_COVERAGE%"
      -filter:"%TEST_FILTERS%"
after_test:
    - choco install codecov
    - codecov -f "%TEST_COVERAGE%"
    - cmd: for /f "delims=" %%x in ('dir /b /s *.log') do xcopy /q /Y /I "%%x" "%TEST_RESULTS%\"
artifacts:
    - path: '%TEST_RESULTS%'
    - path: '%TEST_COVERAGE%'
