<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <clear />
        <add key="GlobalPackagesFolder" value="../packages" />
        <add key="RepositoryPath" value="../packages" />
    </config>
    <packageSources>
        <add key="cube.core" value="https://ci.appveyor.com/nuget/cube.core" />
        <add key="cube.filesystem" value="https://ci.appveyor.com/nuget/cube.filesystem" />
        <add key="cube.images" value="https://ci.appveyor.com/nuget/cube.images" />
        <add key="cube.forms" value="https://ci.appveyor.com/nuget/cube.forms" />
        <add key="cube.xui" value="https://ci.appveyor.com/nuget/cube.xui" />
    </packageSources>
</configuration>
