<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="AsyncBridge" version="0.3.1" targetFramework="net35" />
    <package id="Cube.Backwards" version="1.5.0" targetFramework="net35" />
    <package id="AlphaFS" version="2.2.6" targetFramework="net35" />
    <package id="Cube.Core" version="1.14.0" targetFramework="net35" />
    <package id="Cube.FileSystem" version="1.14.0" targetFramework="net35" />
    <package id="iTextSharp" version="5.5.13" targetFramework="net35" />
    <package id="log4net" version="2.0.8" targetFramework="net35" />
    <package id="NUnit" version="3.11.0" targetFramework="net35" />
    <package id="OpenCover" version="4.6.519" targetFramework="net35" />
    <package id="ReportGenerator" version="4.0.0" targetFramework="net35" />
    <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net35" />
</packages>