<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncBridge" version="0.3.1" targetFramework="net35" />
  <package id="Cube.Backwards" version="1.5.0" targetFramework="net35" />
  <package id="Cube.Core" version="1.11.0" targetFramework="net35" />
  <package id="Cube.FileSystem" version="1.11.0" targetFramework="net35" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net35" />
</packages>