<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
        <target name="Default"
                xsi:type="File"
                encoding="utf-8"
                layout="${longdate} [${uppercase:${level:padding=5}}] ${logger} ${message}"
                fileName="${specialfolder:folder=CommonApplicationData}\CubeSoft\CubePdf\Log\${processname}.log"
                keepFileOpen="true"
                concurrentWrites="true"
                maxArchiveFiles="5"
                archiveAboveSize="1000000"
                archiveEvery="None" />
    </targets>
    <rules>
        <logger name="*" minLevel="Debug" writeTo="Default" />
    </rules>
</nlog>