<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="AlphaFS" version="2.2.6" targetFramework="net35" />
    <package id="AsyncBridge" version="0.3.1" targetFramework="net35" />
    <package id="Cube.Backwards" version="1.5.0" targetFramework="net35" />
    <package id="Cube.Core" version="1.13.0" targetFramework="net35" />
    <package id="Cube.FileSystem" version="1.13.0" targetFramework="net35" />
    <package id="Cube.Images" version="1.13.0" targetFramework="net35" />
    <package id="Cube.Xui" version="1.13.0" targetFramework="net35" />
    <package id="gong-wpf-dragdrop" version="1.1.0" targetFramework="net35" />
    <package id="log4net" version="2.0.8" targetFramework="net35" />
    <package id="MvvmLight" version="5.4.1.1" targetFramework="net35" />
    <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net35" />
    <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net35" />
    <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net35" />
</packages>