<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    </configSections>

    <log4net>
        <appender name="DefaultAppender" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="${ProgramData}\CubeSoft\CubePdf\Log\CubePinstaller.log" />
            <param name="Encoding" value="UTF-8" />
            <param name="RollingStyle" value="Size" />
            <param name="MaximumFileSize" value="1MB" />
            <param name="MaxSizeRollBackups" value="5" />
            <param name="AppendToFile" value="True" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%date [%-5level] %logger - %message%n" />
            </layout>
        </appender>

        <root>
            <level value="All" />
            <appender-ref ref="DefaultAppender" />
        </root>
    </log4net>

    <runtime>
        <generatePublisherEvidence enabled="false" />
    </runtime>

    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
        <supportedRuntime version="v2.0.50727" />
    </startup>
</configuration>
